*{
    margin: 0px;
    padding: 0px;
}

.outer_box{
    width: 400px;
    /* height: 400px; */
    background-color: #f8f8ff;
    padding: 3px 5px 3px 5px;
}
.header{
    /* width: 70%; */
    display: flex;
    justify-content: space-between;
    height: 55px;
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 10px;
    vertical-align: middle;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 6px;
}

.header_and_body{
    padding: 10px;
}

.body{
     border: 1px solid lightgrey;
     background-color: white;
     border-radius: 3px;
}

.msg{
    margin: 5px 5px 5px 5px;
    background-color: #FAFAFA;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 4px;
}

.msg:hover{
    border: 2px solid lightgrey;
}
.msg-heading{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    margin-bottom: 3px;
}

.close{
    
    transition: all .2s ease-in-out;
}

.close:hover{
    transform: rotate(-10deg) scale(2,2);
    color: red;
    /* transform: rotate(20deg); */
    cursor: pointer;
}

#myInput {
    /* background-image: url('zoom-to-actual-size.png'); */
    /* background-position: 10px 12px; */
    background-repeat: no-repeat;
    width: 190px;
    font-size: 12px;
    padding: 3px 7px 3px 7px;
    border: 1px solid #ddd;
    margin-top: 6px;
    margin-bottom: 11px;
    background-color: lightgrey;
  }
  
  .full_logo{
      display: flex;
      justify-content: space-around;
      /* margin-top: 1px; */
      /* margin-bottom: 8px; */
      /* vertical-align: middle; */
      font-size: 28px;
      font-weight: 700;
  }

  .keep{
      color: #0b8dbc;
      padding-top: 7px;
  }

  .inlogo{
      padding-top: 12px;
      margin-bottom: 8px;
  }

  

